<h1 align="center">Well, Hello There. </h1> <img src="https://raw.githubusercontent.com/MartinHeinz/MartinHeinz/master/wave.gif" width="30px">


My name is {{name}}. I'm {{role}} with {{yoe}} experience. I hold a {{degreeName}} degree in
{{major}}. I consider myself a hard worker and a determined team player. 

My pronouns are 
She/Her

What can i bring to the table?
<ul>
  {{#technologies}}
  <li>{{.}}</li>
  {{/technologies}}
</ul>

You can checkout my portfolio to know more about me <a href="https://adeete.herokuapp.com/" target="_blank">Portfolio</a>


