<h1 align="center">Well, Hello There. <img src="https://raw.githubusercontent.com/MartinHeinz/MartinHeinz/master/wave.gif" width="30px"></h1> 

[![Linkedin Badge](https://img.shields.io/badge/-adeete-blue?style=flat-square&logo=Linkedin&logoColor=white&link=https://www.linkedin.com/in/adeete-kashyap-656b57126/)]({{linkedIn}})
[![Gmail Badge](https://img.shields.io/badge/-adeete09@gmail.com-c14438?style=flat-square&logo=Gmail&logoColor=white&link=mailto:{{emailId}})](mailto:{{emailId}})

I'm a {{role}} with :{{yoe}}: years of experience. I hold a {{degreeName}} degree :mortar_board: in
{{major}}. I consider myself a hard worker and a determined team player. 


My pronouns are, <br />
{{gender}} :{{genderIcon}}:

What can i bring to the table :plate_with_cutlery: ?
<ul>
  {{#technologies}}
  <li>[![tech Badge](https://img.shields.io/badge/-{{.}}-bea7e5?style=flat-square/)]({{.}})</li>
  {{/technologies}}
</ul>

You can checkout my <a href="{{portfolio}}" target="_blank">portfolio</a> to know more about me.:v:

Cheers,  <br />
{{name}} :grinning:


